body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #343a40;
}

.movies-shows-list {
  border: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 0, 0);
  text-shadow: 0 1px 0 rgb(255, 0, 0);
  filter: alpha(opacity=20);
  opacity: 1;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
